<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      #container {
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        padding: 12px;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .ticket-box {
        background-color: #f79292;
        margin: 12px;
        height: auto;
        width: 45%;
        padding: 12px;
        /* box-shadow: rgba(246, 124, 124, 0.24) 0px 3px 8px; */
        border: 1px rgb(240, 122, 122) dashed;
      }
    </style>
    <div id="container">
      <% tickets.map(t => { %>

      <div class="ticket-box">
        <div class="movie">movie: <%= t.movie_name %></div>
        <div>seat: <%= t.seatnumber %></div>
        <div>price: <%= t.price %></div>
        <div>Date: <%= t.start_t %></div>

      </div>

      <% })%>
    </div>
  </body>
</html>
